exclude: ^(docs/conf\.py|src/pyEQL/pyEQL-phreeqc/ext|tests/phreeqc/.*\.dat)

default_stages: [pre-commit]

default_install_hook_types: [pre-commit, commit-msg]

ci:
  autoupdate_schedule: monthly
  # skip: [mypy]
  autofix_commit_msg: pre-commit auto-fixes
  autoupdate_commit_msg: pre-commit autoupdate

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.7
    hooks:
      # Run the linter. filters are to exclude .ipynb files
      - id: ruff-check
        types_or: [ python, pyi ]
        args: [--fix, --ignore, "D,E501", --show-fixes]
      # Run the formatter. This WILL run on .ipynb files
      - id: ruff-format

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        stages: [pre-commit, commit-msg]
        exclude_types: [html, svg, jupyter]
        additional_dependencies: [tomli] # needed to read pyproject.toml below py3.11

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-symlinks
      - id: destroyed-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
        exclude_types: [svg]
      - id: trailing-whitespace
        exclude_types: [svg]
      - id: check-yaml
      - id: check-json
      - id: pretty-format-json
        exclude_types: [jupyter]
        args: [--autofix, --indent=4]
