[build-system]
requires = ["scikit-build-core", "pybind11"]
build-backend = "scikit_build_core.build"

[project]
name = "pyEQL-phreeqc"
version = "0.0.2"
requires-python = ">=3.10"

[project.optional-dependencies]
dev = [
    "numpy",
    "pytest>=6",
]
