# Requirements file for ReadTheDocs, check .readthedocs.yml.
# To build the module reference correctly, make sure every external package
# under `install_requires` in `setup.cfg` is also listed here!
# sphinx_rtd_theme
recommonmark
sphinx>=3.2.1
importlib-metadata; python_version<"3.8"
pint
scipy
pymatgen>=2022.0.17
iapws
monty
