name: lint and docs

on:
  workflow_call:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"

      - name: Run pre-commit
        run: |
          pip install pre-commit
          pre-commit run

  docs:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.11"

      - name: Install tox
        run: |
          python -m pip install tox

      - uses: r-lib/actions/setup-pandoc@v2

      - name: Build docs
        run: tox -e docs

      - name: Check links
        run: tox -e links
