name: Post-merge

# triggered when PRs are merged into main branch
on:
  pull_request:
    branches:
      - main
    types:
      - closed

jobs:
  lint:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11
          cache: pip
      - name: Run pre-commit
        run: |
          pip install pre-commit
          pre-commit run

  test-comprehensive:
    needs: lint
    strategy:
      max-parallel: 6
      matrix:
        version:
          - { python: "3.9", resolution: highest, extras: strict }
          - { python: "3.10", resolution: lowest-direct, extras: strict }
          - { python: "3.11", resolution: highest, extras: non-strict }
          - { python: "3.12", resolution: lowest-direct, extras: non-strict }
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
          - macos-14
        exclude:
          - os: macos-14
            python-version: "3.9"
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.version.python }}${{ matrix.dev }}
      - name: Install test requirements
        run: |
          python -m pip install --upgrade pip
          pip install uv
          uv pip install '.[${{ matrix.version.extras }}]' --system --resolution=${{ matrix.version.resolution }}
          #uv pip install '.[tests,${{ matrix.version.extras }}]' --system --resolution=${{ matrix.version.resolution }}
      - name: Run tests
        run: |
          pytest -n auto --cov=src/pyEQL --cov-report=xml
      - uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.xml
