name: Post-merge

# triggered when PRs are merged into main branch
on:
  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.11
          cache: pip
      - name: Run pre-commit
        run: |
          pip install pre-commit
          pre-commit run

  test-comprehensive:
    needs: lint
    strategy:
      max-parallel: 6
      matrix:
        version:
          - { python: "3.10" }
          - { python: "3.11" }
          - { python: "3.12" }
          - { python: "3.13" }
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
          - macos-14
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.version.python }}
      - name: Install test requirements
        run: |
          python -m pip install --upgrade pip
          pip install '.[testing]'
      - name: Run tests
        run: |
          pytest -n auto --cov=src/pyEQL --cov-report=xml --dist=loadscope
      - uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.xml
