name: release

on:
  release:
    types: [published]

jobs:

  build_sdist:
    name: Build source
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0
        ref: ${{ github.event.release.tag_name }}

    - name: Build source
      run: |
        python -m pip install pip --upgrade
        pip install build --upgrade
        python -m build --sdist --outdir=wheelhouse

    - name: Upload sdist to github
      uses: actions/upload-artifact@v6
      with:
        name: wheels-sdist
        path: wheelhouse/*.tar.gz
        if-no-files-found: error

  build_wheels:
    name: Build wheel on ${{ matrix.os }} for ${{ matrix.cibw_archs }}
    needs: [build_sdist]
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            cibw_archs: "x86_64"
          - os: ubuntu-24.04-arm
            cibw_archs: "auto"
          - os: windows-2022
            cibw_archs: "auto64"
          # macos-15-intel for Intel and maos-latest for Apple Silicon
          - os: macos-15-intel
            cibw_archs: "x86_64"
          - os: macos-latest
            cibw_archs: "arm64"

    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0
        ref: ${{ github.event.release.tag_name }}

    - name: Build wheels
      uses: pypa/cibuildwheel@v3.3
      with:
        config-file: cibuildwheel.toml
        output-dir: wheelhouse
      env:
        CIBW_ENVIRONMENT_MACOS: CMAKE_OSX_ARCHITECTURES=${{ matrix.cibw_archs }}

    - name: Upload artifacts to github
      uses: actions/upload-artifact@v6
      with:
        name: wheels-${{ runner.os }}-${{ matrix.cibw_archs }}
        path: ./wheelhouse/*.whl
        if-no-files-found: error

  publish_to_pypi:
    name: Publish wheels to PyPi
    needs: [build_sdist, build_wheels]
    runs-on: ubuntu-latest
    # https://docs.pypi.org/trusted-publishers/using-a-publisher/
    permissions:
      id-token: write
    steps:
      - name: Download packages
        uses: actions/download-artifact@v7
        with:
          pattern: wheels-*
          path: dist
          merge-multiple: true

      - name: Print out packages
        run: ls -la dist/*

      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
