name: release

on:
  push:
    branches:
      - main

jobs:

  detect_tag:
    name: Detect Tag
    runs-on: ubuntu-latest
    outputs:
      tag: ${{ steps.tagcheck.outputs.tag }}

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - id: tagcheck
        run: |
          echo "tag=$(git tag --points-at HEAD)" >> $GITHUB_OUTPUT

  build_sdist:
    name: Build source
    needs: detect_tag
    if: needs.detect_tag.outputs.tag != ''
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: Build source
      run: |
        python -m pip install pip --upgrade
        pip install build --upgrade
        python -m build --sdist --outdir=wheelhouse

    - name: Upload sdist to github
      uses: actions/upload-artifact@v5
      with:
        name: wheels-sdist
        path: wheelhouse/*.tar.gz
        if-no-files-found: error

  build_wheels:
    name: Build wheel on ${{ matrix.os }} for ${{ matrix.cibw_archs }}
    needs: [detect_tag, build_sdist]
    if: needs.detect_tag.outputs.tag != ''
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            cibw_archs: "x86_64"
          - os: ubuntu-24.04-arm
            cibw_archs: "auto"
          - os: windows-2022
            cibw_archs: "auto64"
          # macos-15-intel for Intel and maos-latest for Apple Silicon
          - os: macos-15-intel
            cibw_archs: "x86_64"
          - os: macos-latest
            cibw_archs: "arm64"

    steps:
    - uses: actions/checkout@v6

    - name: Build wheels
      uses: pypa/cibuildwheel@v2.23
      with:
        config-file: cibuildwheel.toml
        output-dir: wheelhouse
      env:
        CIBW_ENVIRONMENT_MACOS: CMAKE_OSX_ARCHITECTURES=${{ matrix.cibw_archs }}

    - name: Upload artifacts to github
      uses: actions/upload-artifact@v5
      with:
        name: wheels-${{ runner.os }}-${{ matrix.cibw_archs }}
        path: ./wheelhouse/*.whl
        if-no-files-found: error

  publish_to_pypi:
    name: Publish wheels to PyPi
    needs: [detect_tag, build_sdist, build_wheels]
    if: needs.detect_tag.outputs.tag != ''
    runs-on: ubuntu-latest
    steps:
      - name: Download packages
        uses: actions/download-artifact@v6
        with:
          pattern: wheels-*
          path: dist
          merge-multiple: true

      - name: Print out packages
        run: ls -la dist/*

      - name: Upload wheels to pypi
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.pypi_password }}
        run: |
          python -m pip install --upgrade twine
          twine upload dist/*
