name: testing

on:
  pull_request:
    branches:
      - main
      - pourbaix
    paths-ignore:
      - CHANGELOG.md
      - docs/**

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  lint:
    uses: ./.github/workflows/lint.yml

  test:
    needs: [lint]
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12","3.13"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}${{ matrix.dev }}

      - name: Install test requirements
        run: |
          python -m pip install --upgrade pip
          pip install -e ".[testing]"

      - name: List installed requirements
        run: |
          pip freeze

      - name: Run tests
        run: |
          if [[ "${{ matrix.python-version }}" == "3.12" ]]; then
            pytest -n auto --cov=src/pyEQL --cov-report=xml --dist=loadscope
          else
            pytest -n auto --dist=loadscope
          fi

      - uses: codecov/codecov-action@v5
        if: matrix.python-version == '3.12'
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.xml
