name: testing

on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - CHANGELOG.md

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11
          cache: pip
      - name: Run pre-commit
        run: |
          pip install pre-commit
          pre-commit run

  test:
    needs: lint
    strategy:
      max-parallel: 6
      matrix:
        # for most PRs, test the min and max supported python on every platform, test all python on ubuntu
        python-version: ["3.9", "3.12"]
        os:
          - ubuntu-latest
          - macos-latest
          - macos-14
          - windows-latest
        include:
          - os: ubuntu-latest
            python-version: "3.10"
          - os: ubuntu-latest
            python-version: "3.11"
        # no python 3.9 on the macos-14 runner
        exclude:
          - os: macos-14
            python-version: "3.9"
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}${{ matrix.dev }}
      - name: Install test requirements
        run: |
          python -m pip install --upgrade pip
          pip install -e ".[testing]"
      - name: Run tests
        run: |
          pytest --cov=src/pyEQL --cov-report=xml
      - uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.xml

  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.9
      - name: Install tox
        run: |
          python -m pip install tox
      - uses: r-lib/actions/setup-pandoc@v2
      - name: Build docs
        run: tox -e docs
